.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  background-color: #CCAFA5;
  color: #fafafa;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;

  @media (min-width: 1500px) {
    font-size: 30px;
  }

  @media (max-width: 629px) {
    width: 100%;
    flex-wrap: wrap;
    font-size: 14px;
  }
}

.card:hover {
  background-color: #B99892;
}

.card__point {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fafafa;
}