.about {
  /* display: none; */
  width: 55%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #fafafa;

  @media (max-width: 1500px) {
    width: 100%;
  }
}

.about.active {
  display: block;
}

.about__title {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #212121;
}

.about__description {
  font-size: 18px;
  line-height: 140%;
}