.arrow-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 2rem;
  border-radius: 50%;
  background-color: #d3d2d2;
  cursor: pointer;
}