.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 55%;

  @media (max-width: 1500px) {
    width: 100%;
  }

  @media (max-width: 629px) {
    flex-direction: column;
  }
}

.cards__item:nth-of-type(1),
.cards__item:nth-of-type(4) {
  width: 40%;
  height: 48%;

  @media (max-width: 1500px) {
    flex: 1;
    height: 200px;
  }

  @media (max-width: 629px) {
    width: 100%;
    height: 100px;
  }
}

.cards__item:nth-of-type(2),
.cards__item:nth-of-type(3) {
  width: 50%;
  height: 48%;

  @media (max-width: 1500px) {
    width: 60%;
    height: 200px;
  }

  @media (max-width: 629px) {
    width: 100%;
    height: 100px;
  }
}
