.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #fafafa;

  @media (max-width: 1500px) {
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

.personal-card__wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.personal-card__image {
  align-self: center;
  width: 100%; 
  max-width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 100%; 

  @media (max-width: 1500px) {
    max-width: 25%;
  }
}

.personal-card__hello {
  color: #212121;
  font-size: 2rem;

  @media (max-width: 568px) {
    font-size: 1rem;
  }
}

.personal-card__hello h1:nth-of-type(1) {
  font-weight: 400;
}

.personal-card__hello h1:nth-of-type(2) {
  color: #CCAFA5;
}

.personal-card__hello h4 {
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 568px) {
    font-size: 1rem;
  }
}

.personal-card__contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;

  a, a:active {
    text-decoration: none;
    color: #212121;
  }

  a:hover {
    color: #CCAFA5;
  }

  a {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; 

    @media (max-width: 568px) {
      font-size: 14px;
    }

    @media (max-width: 370px) {
      font-size: 12px;
    }
  }
}