.experience-card {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #d3d2d2;

  @media (max-width: 1500px) {
    flex-direction: column;
  }
}

.experience__logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: contain;
}

.experience__content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #212121;

  h4 {
    font-size: 18px;
  }

  .experience__description {
    padding-left: 1rem;
  }

  li {
    line-height: 140%;
  }
}