.experience {
  /* display: none; */
  width: 55%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #fafafa;

  @media (max-width: 1500px) {
    width: 100%;
  }
}

.experience__title {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #212121;
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: calc(100vh - 290px);
  padding-right: 10px;
  overflow-y: auto;
}
