.projects {
  /* display: none; */
  width: 55%;
  padding: 2rem;
  border-radius: 20px;
  background-color: #fafafa;

  @media (max-width: 1500px) {
    width: 100%;
  }
}

.about.active {
  display: block;
}

.projects__title {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #212121;
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: calc(100vh - 290px);
  padding-right: 10px;
  overflow-y: auto;
}

.projects__list::-webkit-scrollbar {
  width: 8px;
}

.projects__list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #d3d2d2; 
}